<% reset_password_link = "http://localhost:3001/new_password/#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>